/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* 
1.Từ ngoài vào trong
2. Từ trên xuống dưới 
3.Tổng quan đến chi tiết
*/

/* 
1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng (kiểu chữ,tròn,vuông,....) 
*/
/* begin header */

/* #main{ 
  overflow: hidden;
}
những gì chui ra từ thẻ cha ẩn đi nhưng cách này không tối ưu nhất*/
.clear {
  clear: both;
  /* fix float */
}
.right {
  float: right !important;
}
.mt {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.column {
  float: left;
  padding: 0 8px;
}
.col-half {
  width: 50%;
}
.col-full {
  width: 100%;
}
.col-third {
  width: calc(100% / 3);
}
.text-center {
  text-align: center !important;
}
#header {
  width: 100%;
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  /* text-decoration gạch chân */
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

/* #nav .subnav li:hover, (viet tat) */
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}
#nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
  width: 100%;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav,
.subnav {
  list-style-type: none;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}
#nav .nav-arrow-down {
  font-size: 13px;
}

#header .mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 21px;
  display: none;
}
#header .search-button {
  float: right;
  padding: 0 21px;
}
#header .mobile-menu-btn:hover {
  background-color: #ccc;
  color: #000;
}
#header .mobile-menu-btn:hover .menu-icon {
  color: #000;
}
#header .menu-icon,
#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
#header .search-button:hover {
  background-color: #f44336;
  cursor: pointer;
}
/* end header */
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  /* .. tuong doi */
  background: url("../img/slider1.jpg") top center / cover no-repeat;
}
/* begin slider */
#slider .text-content {
  position: absolute;
  color: #fff;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* width: 100% */
  /* left:0;
  right:0; */
}
#slider .text-heading {
  font-weight: 400;
  font-size: 24px;
}
#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
  text-shadow: 0 0 1px #000;
}
/* end slider */
/* begin about*/
#content .content-section {
  width: 800px;
  /* fix width cho ipad  */
  max-width: 100%;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
  /*fix cho ipad  */
  padding-left: 16px;
  padding-right: 16px;
}
#content .section-heading {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 5px;
  /* letter-spacing: khoang cach chu */
}
#content .section-sub-heading {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  /* chu nghieng */
  opacity: 0.6;
  /* opacity do trong suot */
}
#content .about-text {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
  /* do cach dong eng 1.4 vn 1.6 */
}
#content .member-list {
  margin-top: 48px;
}
#content .member-name {
  font-size: 15px;
}
#content .member-avatar {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}
/* end about */
/* begin tour */
.tour-section {
  background-color: #000;
  color: #fff;
}
.tickets-list {
  background-color: #fff;
  color: #000;
  margin-top: 40px;
  list-style: none;
}
.tickets-list li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
}
.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}
.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}
/* content tour */
.place-list {
  margin-top: 32px;
}
.place-img {
  width: 100%;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
}
.place-body {
  padding: 16px;
  background-color: #fff;
  font-size: 15px;
  margin-bottom: 48px;
}
.place-heading {
  font-size: 15px;
  font-weight: 600;
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-desc {
  margin-top: 15px;
  line-height: 1.4;
  color: #000;
}
.btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
}
.btn:hover {
  cursor: pointer;
  color: #000;
  background-color: #ccc;
}
/* end img */
.contact-section {
  padding-top: 48px;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /* ki thuat chung khi xay dung modal */
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal.open {
  display: flex;
}
.modal-container {
  background-color: #fff;
  width: 900px;
  /* zoom nho web k bi dan vao 2 vien */
  max-width: calc(100%-32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 0.4s;
}
.modal-header {
  width: 100%;
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  margin-right: 10px;
  letter-spacing: 5px;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.9;
}
.modal-close:hover {
  background-color: #757575;
}
.modal-body {
  padding: 16px;
}
.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 24px;
}
#buy-tickets {
  background: #009688;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  /* vt hoa */
  padding: 12px;
  cursor: pointer;
}
#buy-tickets:hover {
  background: #757575;
  opacity: 0.9;
}
.modal-footer {
  padding: 16px;
  text-align: right;
}
.modal-footer a {
  color: #2196f3;
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact-content {
  margin-top: 48px;
}
.contact-info {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}
.contact-info a {
  opacity: 0.75;
}
.contact-info a:hover {
  opacity: 1;
}
.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}
.contact-form {
  font-size: 15px;
}
.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  outline: none;
}
#footer {
  padding: 64px 16px;
  text-align: center;
}
#footer .socials-list {
  font-size: 22px;
}
#footer .socials-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  padding: 1px;
}
#footer .socials-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
  font-size: 15px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}
/* mobile va tablet */
@media (max-width: 63.9375em) {
  .btn {
    padding: 15px 16px;
  }
  #nav .subnav a {
    padding: 5px 12px;
  }
  .contact-form .form-control {
    padding: 15px;
  }
  .contact-info {
    line-height: 2;
  }
  #footer .socials-list {
    font-size: 30px;
  }
  #footer .socials-list a {
    margin: 0 16px;
  }
  #footer .copyright a {
    padding: 12px 0;
    display: inline-block;
  }
  .submit-btn {
    font-size: 16px;
  }
}
/* mobile */
@media (max-width: 46.1875em) {
  #nav {
    display: block;
  }
  #nav .subnav {
    position: initial;
    background-color: #333;
    padding: 0px 42px;
  }
  #nav li a {
    padding: 1px 24px;
  }
  #nav .subnav a {
    color: #fff;
  }
  #nav > li {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #header {
    overflow: hidden;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #header .search-icon {
    display: none;
  }
  #content .member-avatar {
    width: 60%;
  }
  #content .member-list {
    width: 100%;
    margin-top: 30px;
  }
  .col-third {
    width: 100%;
  }
  .place-item {
    margin-bottom: -48px;
  }
  .mt-32 {
    padding-top: 32px;
  }
  .c-full {
    width: 100%;
  }
  .contact-form {
    margin-top: 32px;
  }
  .s-mt-8 {
    margin-top: 8px;
  }
  .btn {
    width: 100%;
  }
}
